
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :login %>
    <%= form.text_field :login, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :senha %>
    <%= form.password_field :password_digest, class: "form-control" %>
  </div>

    <!--add para teste 11/09/2021-->
    <div class="form-group mb-3">
      <%= form.label :confirmação_da_senha %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: "btn btn-primary" %>
  </div>

 
<% end %>
