<%= form_with(model: material) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
        <% material.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class:"form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :Quantidade %>
    <%= form.number_field :qtd, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descrição %>
    <%= form.text_area :descricao, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: "btn btn-primary" %>
  </div>
<% end %>
