<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @material.nome %>
</p>

<p>
  <strong>Qtd:</strong>
  <%= @material.qtd %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @material.descricao %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
