<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @material.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @material.qtd %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @material.descricao %>
</p>

<%= link_to 'Editar', edit_material_path(@material) %> |
<%= link_to 'Voltar', materials_path %>
